<tr>
  <td align="center" style="padding:30px;background:#111;color:#bbb;">
    <a href="{{brand.url}}" style="color:#fff;text-decoration:none;">
      <strong style="color:#fff;">{{brand.name}}</strong>
    </a><br>
    {{brand.info}}<br><br>
    {{#if social}}
      <a href="{{social.facebook}}" style="color:#fff;">Facebook</a> |
      <a href="{{social.instagram}}" style="color:#fff;">Instagram</a> |
      <a href="{{social.youtube}}" style="color:#fff;">YouTube</a><br><br>
    {{/if}}
    <a href="{{meta.unsubscribe}}" style="color:#fff;text-decoration:underline;">
      Unsubscribe
    </a>
  </td>
</tr>